*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
#todo{
    height: 500px;
}
header{
    background-color: #11052C;
    text-align: center;
}
/*Regla anidada, aplicar un efecto al pasar el mouse*/
header a{
    text-decoration: none;
    color: #FFE459;
    display: block;
    font-size: 2rem;
}
/*Evento para cambiar, (cambia text-decoration y el color)*/
/*El RGBA aplica los efectos RGB y el A es para aplicar una transparencia o efecto alpha*/
header a:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, .4);
}
section{
    background-color: #E2C2B9;
    font-size: 1.2rem;
}
#lateral{
    background-color: #B5FFD9;
    text-align: center;
    padding: 10px 10px;
}
footer{
    background-color: #11052C;
    color: #FFE459;
    text-align: center;
    padding: 20px 0;
}
.contenedor{
    width: 99%;
    padding: 5px;
    margin: 5px auto;
    border: solid 1px #3D087B;
    display: none;
}
#resultado{
    transition: all .4s ease-in-out;
}
.res{
    width: 99%;
    border: 1px solid #3D087B;
    padding: 10px;
    margin: 10px;
}

#estilo div{
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    display: inline-block;
    margin: 5px 10px;
    cursor: pointer;
    position: relative;
}
.uno{
    background-color: #2A0944;
}
.dos{
    background-color: #C8C6C6;
}
.tres{
    background-color: #7eb5a6;
    border-radius: 10px 0px;
    border: 4px solid #C36839;
}
.cuatro{
    border: 1px solid #0F04;
}
.mas{
    line-height: 70px;
    border-radius: 10px 0px;
    border: 4px solid #7EB5A6;
    width: 60px;
    color: #7eb5a6;
    box-shadow: 0px 0px 15px #8FCD48;
    text-align: center;
}
.foto{
    width: 300px;
    box-shadow: 2px 2px 2px #C8C6C6;
    border: 1px solid #C36839;
    display: block;
    background-color: #FFF;
    float: left;
}
.galeria{
    display: inline-block;
    width: 50px;
    background-color: #FFF;
    margin-left: 10px;
}
#titulotar{
    text-align: center;
}
#subtar, #nomrem{
    text-align: left;
}
#datos{
    display: block;
}
